body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* Navbar */

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  filter: contrast(130%);
  box-shadow: 1px 1px 5px rgb(41, 41, 41);
  font-family: 'Lato', sans-serif;
  opacity: 0.950;
  font-size: 12px;
}
.navbar .background-color {
  background-color: #222C36 !important;
}
#collapsibleNavbar .nav-link:hover {
  color:rgb(78, 125, 201);
}
.nav-link {
  margin-right: 1.2rem;
  margin-left: 0;
  padding-left: 0;
  transition: 0.5s;
}

/* End navbar */
/* Banner */

.banner {
  padding-top: 130px;
  padding-bottom: 210px;
  text-align: center;
  background: linear-gradient( -45deg,rgb(27, 38, 75) 0%, #4A7CC3 50%, #034699 100% );
  animation: Gradient 10s ease infinite;
  background-size: 400% 400%;
  text-transform: uppercase;
  vertical-align: middle;
  text-shadow: 1px 1px 5px rgb(41, 41, 41);
  color: rgb(253, 253, 253);
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#nav-icon {
  color: white;
  font-size: 4.5rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 5px rgb(41, 41, 41);
  transition: 1.5s;
}
#nav-icon:hover {
  color: #1D2E49;
  transform: scale(1.060);
  text-shadow: 1px 1px 5px rgb(253, 253, 253);
}
@media only screen and (max-width : 768px) {
  #nav-icon {
    margin-left: 45px !important;
   }
  }

.banner-content {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {   
  font-size: 50px;
  letter-spacing: 0.20rem;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
}

.status {
  font-size: 30px;
  letter-spacing: 0.10rem;
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
}

/* Mousescroll */

.mouse-icon {
  position: absolute;
  border: 2px solid rgb(41, 41, 41);
  background: white;
  opacity: 0.8;
  border-radius: 13px;
  height: 40px;
  width: 30px;
  margin: 0 auto;
  display: block;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 100;
  box-shadow: 0 5px 10px 0 rgba(37, 45, 49, 0.24);
}

.mouse-icon .scroll {
  -webkit-animation-name: scrolling;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  animation-name: scrolling;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.mouse-icon .scroll {
  position: relative;
  border-radius: 10px;
  background: #2f2f2f;
  width: 4px;
  height: 8px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes scrolling  {
  0%   { top:2px;  opacity: 0;}
  30%  { top:8px; opacity: 1;}
  100% { top:16px; opacity: 0;}
}

@keyframes scrolling  {
  0%   { top:2px;  opacity: 0;}
  30%  { top:8px; opacity: 1;}
  100% { top:16px; opacity: 0;}
}

/* End Banner */
/* Content-style */

.about {
  background: radial-gradient(rgb(44, 85, 143),rgb(14, 19, 37));
}
.article-content {
  padding: 90px;
  text-align: justify;
}
.about .article-content {
  margin-top: 0.5px;
}
.title{
  color: #FDFDFD;
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 50px;
  text-shadow: 1px 1px 1px rgb(41, 41, 41);
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15rem;
}
#hr-pres {
  margin-bottom: 50px;
  height: 1.5px;
}
.content-p {
  font-size: 18px;
  color: rgb(250, 250, 250);
  font-family: 'Quicksand', sans-serif;
  /* white-space: pre-line; */
}
.subtitle {
  font-size: 20px;
  color: rgb(250, 250, 250);
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

/* End Content-style */
/* Skills-bar */

.title-two {
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 50px;
  color: white;
  text-shadow: 1px 1px 3px rgb(41, 41, 41);
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15rem;
}
#hr-comp {
  margin-bottom: 70px;
  height: 1px;
}
.skills {
  background: radial-gradient(rgb(84, 132, 209),rgb(22, 58, 116));
}
.skills, .content {
  color: white;
}
.skill-bar {
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 4px rgb(41, 41, 41);
    margin-top: 30px;
}
.article-content p {
  font-weight: 600;
}
.skills {
    text-align: right;
    line-height: 30px;
    color: white;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}
.display-media {
  display: none;
}

.html { width: 95%; background:#232C4A;
}

.css {width: 95%; background:#232C4A;
} 

.bootstrap {width: 95%; background:#232C4A;
} 

.js {width: 75%; background: #232C4A;
}

.php {width: 80%; background: #232C4A;
}

.ruby {width: 55%;background: #232C4A;
}

.symfony {width: 80%; background: #232C4A;
}

.angular {width: 60%; background: #232C4A;
}

.react-js {width: 50%; background: #232C4A;
}

.go {width: 45%; background: #232C4A;
}

/* Skills-Bar End */
/* Project */

.project {
  background: radial-gradient(rgb(44, 85, 143),rgb(14, 19, 37));
}
.container {
  position: relative;
  width: 50%;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
  padding: 0px;
  box-shadow: 1px 1px 4px rgb(20, 20, 20);
  filter: grayscale(60);
}
.middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .image {
  filter: grayscale(0);
}
.container:hover .middle {
  opacity: 1;
}
.text {
  background-color:rgb(15, 19, 24);
  color: white;
  font-size: 0.9rem;
  padding: 16px 32px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.02rem;
}
a:hover {
  text-decoration:none!important;
}

#hr-project {
  margin-bottom: 30px;
  height: 1px;
}

#animate:hover {
  transform: scale(1.050);
}

img {
  transition: 2s;
}

#project-icon {
  color: white;
  font-size: 1.7rem;
  text-shadow: 1px 1px 4px black;
  margin-top: 5px;
  transition: 1s;
  margin-bottom: 0;
  padding-right: 0;
}

#project-icon:hover {
  color: #FF693C;
}

#card-container {
  background: radial-gradient(rgb(75, 72, 72),rgb(15, 19, 24));
  box-shadow: 1px 1px 1px rgb(15, 15, 15);
}

.project-text {
  transition: .25s ease-out;
  margin-top: 20px;
  width: 100%;
}
.project-text .content-p {
  font-size: 16px;
  margin-bottom: 0;
}

/* End Project */
/* Contact */

.contact-content {
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 50px;
  color: white;
  text-shadow: 1px 1px 3px rgb(41, 41, 41);
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15rem;
  margin-top: 50px;
}

/* End contact */
/* Footer */

.footer{
  padding:50px;
  background: linear-gradient( -45deg,rgb(27, 38, 75) 0%, #4A7CC3 50%, #034699 100% );
  animation: Gradient 10s ease infinite;
  background-size: 400% 400%;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
.fab {
  color: white;
  font-size: 1.6rem;
  padding: 20px;
  text-shadow: 1px 1px 5px rgb(41, 41, 41);
  padding-left: 0;
  margin-top: 50px;
  transition: 1s;
}
.fab:hover {
  color: #1F284B;
}

#cv {
  color: white;
  font-size: 1.6rem;
  padding: 20px;
  text-shadow: 1px 1px 5px rgb(41, 41, 41);
  padding-left: 0;
  margin-top: 50px;
  transition: 1s;
  padding-right: 0;
}
#cv:hover {
  color: rgb(44, 105, 47);
}

.footer-right{
  text-align: right;
  margin-top: 35px;
  padding-bottom: 0;
  font-weight: 600;
  font-size: 16px;
}
.footer-left{
  margin-top: 35px;
  padding-bottom: 0;
  text-align: left;
  font-size: 16px;
}
#dev {
  font-weight: 600;
}
.footer-center {
  text-align: center;
}

@media only screen and (max-width: 575px) {
  .footer-right, .footer-left, .footer-center {
    text-align:center;
 }
}

/* End Footer */

/* Hr Style */

hr.style-two { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

hr.style-one { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); width: 50%;}

hr.style-three { border: 0; height: 1px; background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); }
.style-three {
  width: 100%;
}

/* Media queries for mobile */

  
    @media only screen and (max-width : 575px) {
      .nav-link {
        text-align: center !important;
        padding: 0;
        margin: 0;
       }
      .name {
        font-size: 30px;
      }
      .status {
        font-size: 22px;
      }
      .banner-content {
        margin-bottom: 0px;
        margin-top: 0px;
      }
      #nav-icon {
        font-size: 3rem;
      }
      i#nav-icon {
        margin-left: 0 !important;
        padding-right: 0;
      }
      .title {
        font-size: 17px;
      }
      .title-two {
        font-size: 17px;
      }
      .contact-content {
        font-size: 17px;
      }
      .content-p {
        font-size: 12px;
      }
      .subtitle {
        font-size: 15px;
      }
      .skills {
        line-height: 22px;
      }
      #background-canvas {
        width: 100%;
        display: none;
      }
      .display-media {
        display: block;
      }
      .text {
        font-size: 0.5em;
        letter-spacing: 0;
        padding: 10px 26px;
      }
      .project-text .content-p {
        font-size: 13px;
      }
      .project-text {
        margin-top: 8px;
      }
      .about .article-content {
        margin-top: 0.5px;
      }
      }

  /* Media for 720 p devices */

  @media only screen and (max-width : 1280px) {
    .nav-link {
      text-align: center !important;
     }
    .name {
      font-size: 35px;
    }
    .status {
      font-size: 23px;
    }
    .banner-content {
      margin-bottom: 0px;
      margin-top: 0px;
    }
    #nav-icon {
      font-size: 4.5rem;
    }
    .title {
      font-size: 18px;
    }
    .title-two {
      font-size: 18px;
    }
    .contact-content {
      font-size: 18px;
    }
    .content-p {
      font-size: 16px;
    }
    .subtitle {
      font-size: 17px;
    }
    .skills {
      line-height: 22px;
    }
  }

  @media only screen and (max-width : 1150px) {
    .nav-link {
      text-align: center !important;
     }
    .name {
      font-size: 35px;
    }
    .status {
      font-size: 23px;
    }
    .banner-content {
      margin-bottom: 0px;
      margin-top: 0px;
    }
    #nav-icon {
      font-size: 4.5rem;
    }
    .title {
      font-size: 18px;
    }
    .title-two {
      font-size: 18px;
    }
    .contact-content {
      font-size: 18px;
    }
    .content-p {
      font-size: 14px;
    }
    .subtitle {
      font-size: 16px;
    }
    .skills {
      line-height: 22px;
    }
  }